.wrapper {
  /* display */
  display: flex;
  align-items: center;
  /* styles */
  border-radius: 24px;
}

.cursor {
  /* display */
  display: inline-block;
  width: 1.5px;
  height: 16px;
  margin-left: 5px;
  /* styles */
  background-color: var(--black);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
