.wrapper {
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 24px 40px 24px 40px;
  transition: 1s;

  /* styles */
  background-color: transparent;
  border: solid 1px var(--white);
  border-radius: 16px;
  font-size: 0.9rem;
  color: var(--white);
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  animation: bounce 2s infinite;
}

.wrapper:hover {
    transition: 1s;
    cursor: pointer;
    background: radial-gradient(
      45.74% 60.81% at 52.31% 1.93%,
      #081c3f 0,
      rgba(1, 6, 15, 0.67) 100%
    ),
    #030e20;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-4px);
    }
    60% {
      transform: translateY(-2px);
    }
  }
  