.wrapper {
  /* display */
  width: 100%;
  height: 340px;
  /* styles */
  transition: transform 0.5s ease-in-out;
  background: #030811;
  border-radius: 0.5rem;
  border: 2px solid #02183d;
  overflow: hidden;
}

.wrapper:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.wrapper:hover .banner::before {
  filter: blur(0);
}

.wrapper:hover .banner::after {
  background: rgba(0, 0, 0, 0.2);
}

.banner {
  /* display */
  display: flex;
  align-items: center;
  width: 100%;
  height: 35%;
  /* styles */
  border-radius: 8px 8px 0px 0px;
  position: relative;
  overflow: hidden;
}

.defaultContent,
.hoverContent {
  transition:
    opacity 0.5s ease-in-out,
    transform 1s ease-in-out;
  position: absolute;
  z-index: 2;
}

.defaultContent {
  opacity: 1;
  transform: translateY(0);
}

.hoverContent {
  opacity: 0;
  transform: translateY(20px);
}

.wrapper:hover .defaultContent {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper:hover .hoverContent {
  opacity: 1;
  transform: translateY(0);
}

.banner::before {
  transition: filter 1s ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: 0;
}

.banner::after {
  transition: background 1s ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.content {
  /* display */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65%;
  padding: 24px 24px 24px 24px;
  gap: 24px;
  /* styles */
  border-top: 2px solid #081c3f;
  background: radial-gradient(
      45.74% 60.81% at 52.31% 1.93%,
      #081c3f 0,
      rgba(1, 6, 15, 0.67) 100%
    ),
    #030e20;
  box-shadow: 0 -16px 20px 0 rgba(0, 0, 0, 0.43);
}

.textBox {
  display: flex;
  height: 220px;
}

.textBox p {
  font-size: 0.9rem;
  color: rgb(201, 201, 201);
  font-weight: 400;
}

.content h2 {
  font-size: 1.4rem;
  font-weight: 700;
  background: linear-gradient(92deg, #fdfdfd -3.01%, #e4e4e4 95.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag {
  /* display */
  width: fit-content;
  padding: 0.125rem 0.9375rem;
  /* styles */
  background: #030a16;
  color: #ffffffab;
  border-radius: 6.25rem;
  border: 1px solid #0b1f41;
  font-size: 0.8rem;
  font-weight: 400;
}

.contextBox {
  /* display */
  width: 100%;
  display: flex;
  padding: 40px;
  gap: 12px;
  /* styles */
}

.contextBox h1 {
  font-size: 1.4rem;
  font-weight: 400;
}
